<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="uft-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fi\t=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
        crossorigin="anonymous">

    <title>{% block title %} Mad City Tickets {% endblock title %}</title>
    <link rel='stylesheet' href="{% static 'css/base.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" href="#">
            <img src="https://assets-global.website-files.com/581110f944272e4a11871c01/591f555c673ef5082aca52c1_wisconsin_capitol.jpg"
                width="30" height="30" alt="">
        </a>
        <a class="navbar-brand" href="{% url 'home' %}">Mad City Tickets</a>
        <a class="dropdown-tem" style="padding-left: 30px" href="{% url 'drvenue' %}">Venue Directory</a>
        <a class="dropdown-tem" style="padding-left: 30px" href="{% url 'venue_form' %}">New Venue Form</a>

        {% if user.is_authenticated %}


        <a class="dropdown-tem" style="padding-left: 30px" style="padding-right: 30px"
            href="{% url 'logout' %}">Logout</a>
        <a class="dropdown-tem" style="padding-left: 30px" style="padding-right: 30px"
            href="{% url 'password_change' %}">Update Password</a>
        <a class="navbar-brand" style="padding-left: 30px">
            Hi {{ user.username }}!</a>
        {% else %}
        <ul class="navbar -nav ml-auto"></ul>
        <form class="form-inline ml-auto" style="padding-left: 850px">
            <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log in</a>
            <a href="{% url 'signup' %}" class="btn btn-primary ml-2">Sign up</a>
        </form>
        {% endif %}
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <main>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
            integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
            crossorigin="anonymous"></script>
    </main>
</body>

</html>